:root {
    --custom-gray: #3333;
}

.card-body {
    flex: 0 0 auto;
}

.modal-content {
    max-width: 400px;
    border-radius: 8px;
    box-shadow: 3px 12px 20px var(--custom-gray);
}

#search-btn {
    border-radius: 4px;
}

img {
    border: 1px solid var(--custom-gray);
    border-radius: 8px;
    box-shadow: 2px 8px 16px var(--custom-gray);
}

.form-check {
    font-size: large;
}
